h1 {
    color: brown;
}

* {
    border: solid;
}
.header{
    font-family: cursive;
    display:flex;
    justify-content: space-between;
}
.menu{
    font-family:fantasy;
    background-color: rgb(247, 199, 137);
    justify-content:space-evenly;
}

.texts{
    background-color: rgb(204, 228, 228);
    
}
.letters{
 flex-wrap: wrap;
}